<div class="col-lg-12">
    <h1 class="font-weight-light">Vaccine Coverage</h1>
    <p>Vaccine coverage refers to the proportion of a population that is appropriately immunized against a specific vaccine-preventable disease (VPD).</p>
    <a class="btn btn-primary" routerLink="/vaccine">Main Category</a>
</div>

<div class="content-body">
            <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                [options]="this.chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>

                
                <p class="card-text">The spatial kriging interpolation, analysis was used to predict full pentavalent immunization in
                    unsampled areas of the Amhara region based on sampled enumeration area measurements.
                    Prediction of the lowest immunization coverage areas was indicated by red prediction such as
                    west Gojjam, East Gojjam, South Gondar and Awi zone. Whereas other zones shaded by green
                    are performed better than the red and yellow shaded zones.</p>
        </div>