<div class="col-lg-12">
    <h1 class="font-weight-light">Vaccine Coverage</h1>
    <p>Vaccine coverage refers to the proportion of a population that is appropriately immunized against a specific vaccine-preventable disease (VPD).</p>
    <a class="btn btn-primary" routerLink="">Main Category</a>
</div>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/viz/pcv.png" alt="..." />
            </div>
        </div>
    </div>
    <div class="col-md-8 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Pneumococcal Conjugate Vaccination (PCV) Coverage</h2>
                <p class="card-text">The coverage of the PCV (Pneumococcal Conjugate Vaccine) series in the
                    Amhara region of Ethiopia declined from 78.80% for PCV1 to 76.80% for PCV2 and
                    further down to 72.70% for PCV3. This indicates that the PCV coverage decreased in the
                    region from PCV1 to PCV3.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="pcv">More Info</a></div>
        </div>
    </div>
</div>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/viz/2.png" alt="..." />
                
            </div>
            
        </div>
    </div>
    <div class="col-md-8 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Full Pentavalent percentage disparities in the Amhara region</h2>
                <p class="card-text">The spatial kriging interpolation, analysis was used to predict full pentavalent immunization in
                    unsampled areas of the Amhara region based on sampled enumeration area measurements.
                    Prediction of the lowest immunization coverage areas was indicated by red prediction such as
                    west Gojjam, East Gojjam, South Gondar and Awi zone. Whereas other zones shaded by green
                    are performed better than the red and yellow shaded zones.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="pentavalent">More Info</a></div>
        </div>
    </div>
</div>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/viz/2.png" alt="..." />
                
            </div>
            
        </div>
    </div>
    <div class="col-md-8 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Echart</h2>
                <p class="card-text">Map Chart</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="echartmap">More Info</a></div>
        </div>
    </div>
</div>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/viz/2.png" alt="..." />
                
            </div>
            
        </div>
    </div>
    <div class="col-md-8 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">World Map</h2>
                <p class="card-text">Map Chart</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="edhs-pentavalent">More Info</a></div>
        </div>
    </div>
</div>