<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <!--h2 class="card-title"></h2>
                <div class="col-lg-7"-->
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/vaccine_coverage.png" alt="..." />
                <!--/div-->
            </div>
            <!--div class="card-footer"></div-->
        </div>
    </div>
    <div class="col-md-8 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Vaccine Coverage</h2>
                <p class="card-text">Vaccine coverage shows the proportion of a population that is appropriately immunized against a specific vaccine-preventable disease (VPD).</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="vaccine">More Info</a></div>
        </div>
    </div>
</div>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <!--h2 class="card-title"></h2>
                <div class="col-lg-7"-->
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/Maternal-02.jpg" alt="..." />
                <!--/div-->
            </div>
            <!--div class="card-footer"></div-->
        </div>
    </div>
    <div class="col-md-8 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Maternal Health</h2>
                <p class="card-text">Since 2000, Ethiopia has reduced maternal mortality by half, but a maternal mortality rate of 412 per 100,000 live births is still too high. Impressive progress has been made with half of women now giving birth in a facility, reducing the risk of death due to complications during delivery. However, ensuring timely arrival and service quality at facilities remains a challenge. This section provides trends on Antenatal Care (ANC), Skilled Birth Attendant (SBA) and Postnatal Care (PNC) in Ethiopia.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="one">More Info</a></div>
        </div>
    </div>
</div>




<!--div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Viz One</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Viz Two</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Viz Three</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
</div-->